.collection-container {
  height: 100%;
  resize: horizontal;
}

.collection-origin-item {
  padding-top: 0.25rem;
}

.collection-item {
  padding-right: 0.25rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
}

.collection-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 98%;
}
