.collection-container {
  height: 100%;
  resize: horizontal;
}

.collection-date-item {
  padding-top: 1rem;
}

.collection-item {
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 98%;
}

.url {
  max-width: 33%;
}
